div.container div.row {
    padding-top: 15px;
}

img.block-user {
    max-height: 64px;
    max-width: 64px;
}

table#usersListTable td,table#usersListTable th {
    vertical-align: middle;
}

.fa-aws {
    color: #FF9900;
}

.fa-telegram.fa-colored {
    color: #0088cc;
}

.nav-link {
    padding-right: 20px;
    padding-left: 20px;
}

.navbar {
    padding-top: 8px;
    padding-bottom: 8px;
}
