{{define "title"}}PUPHAUS{{end}}

{{define "body"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1><i class="fas fa-robot"></i> Chat Bot</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/web/chatbot/">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/web/chatbot/tg/chats/"><i class="fab fa-telegram fa-colored"></i> Chats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/web/chatbot/tg/users/"><i class="fab fa-telegram fa-colored"></i> Users</a>
                </li>
            </ul>
        </div>
    </div>
{{- if .TGChat -}}
    <div class="row">
        <div class="col">
            <h3>
                {{- if eq .TGChat.Type "private"}}<i class="fas fa-user"></i>
                {{- else if eq .TGChat.Type "group"}}<i class="fas fa-user-friends"></i>
                {{- else if eq .TGChat.Type "supergroup"}}<i class="fas fa-users"></i>
                {{- else if eq .TGChat.Type "channel"}}<i class="fas fa-bullhorn"></i>
                {{- end -}}
                &nbsp;{{.TGChat.GetLongFormattedName}}
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 pb-4">
            {{- if eq .TGChat.Type "private"}}
            <div class="row pt-0">
                <div class="col">
                    <div class="bg-light border border-primary rounded">
                        <h4 class="text-white bg-primary mb-0 p-1">First Name</h4>
                        <div class="p-1">{{if .TGChat.FirstName.Valid}}{{.TGChat.FirstName.String}}{{end}}</div>
                    </div>
                </div>
                <div class="col">
                    <div class="bg-light border border-primary rounded">
                        <h4 class="text-white bg-primary mb-0 p-1">Last Name</h4>
                        <div class="p-1">{{if .TGChat.LastName.Valid}}{{.TGChat.LastName.String}}{{end}}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="bg-light border border-primary rounded">
                        <h4 class="text-white bg-primary mb-0 p-1">Username</h4>
                        <div class="p-1">{{if .TGChat.Username.Valid}}{{.TGChat.Username.String}}{{end}}</div>
                    </div>
                </div>
                <div class="col">
                    <div class="bg-light border border-primary rounded">
                        <h4 class="text-white bg-primary mb-0 p-1">All are Admins</h4>
                        <div class="p-1">{{.TGChat.AllMembersAreAdmins}}</div>
                    </div>
                </div>
            </div>
            {{- else}}
                <div class="row pt-0">
                    <div class="col">
                        <div class="bg-light border border-primary rounded">
                            <h4 class="text-white bg-primary mb-0 p-1">Title</h4>
                            <div class="p-1">{{if .TGChat.Title.Valid}}{{.TGChat.Title.String}}{{end}}</div>
                        </div>
                    </div>
                </div>
            {{- end}}
            <div class="row pt-4">
                <div class="col">
                    <div class="bg-light border border-primary rounded">
                        <h4 class="text-white bg-primary mb-0 p-1">First Seen</h4>
                        <div class="p-1"><span data-toggle="tooltip" data-placement="top" title="{{.TGChat.GetCreatedAtFormatted}}">{{.TGChat.GetCreatedAtHuman}}</span></div>
                    </div>
                </div>
                <div class="col">
                    <div class="bg-light border border-primary rounded">
                        <h4 class="text-white bg-primary mb-0 p-1">Last Seen</h4>
                        <div class="p-1"><span data-toggle="tooltip" data-placement="top" title="{{.TGChat.GetLastSeenFormatted}}">{{.TGChat.GetLastSeenHuman}}</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="bg-light border border-primary rounded">
                <div class="float-right mr-2 mt-1"><a href="/web/chatbot/tg/chats/{{.TGChat.APIID}}/messages" class="text-white">See More</a></div>
                <h4 class="text-white bg-primary mb-0 p-1">Recent Messages</h4>
                <ul class="list-unstyled p-1">
                    {{- $LastFromID := 0}}
                    {{- if .TGMessages}}
                        {{- with .TGMessages}}
                            {{- range .}}
                                <li class="media mb-4">
                                    {{if .BlockUser}}<img src="{{.BlockUser.ProfilePhotoURL}}" class="mr-2 rounded-circle tg-block-user">{{end}}
                                    <div class="media-body">
                                        {{if .BlockUser}}<h5 class="mt-0 mb-1">{{if .BlockUser}}{{.BlockUser.GetName}}{{end}}</h5>{{end}}
                                        <ul class="list-unstyled">

                                            {{ $color := .ColorNum}}
                                {{- if .BlockMessages}}
                                    {{- with .BlockMessages}}
                                        {{- range .}}
                                            <li class="chat-bubble-{{$color}} m-1 p-1 rounded text-white tg-block-message">
                                                {{if .Text.Valid}}
                                                    <div class="text-break">{{.Text.String}}</div>
                                                {{else if .StickerID.Valid}}
                                                    <div><img src="{{.GetStickerURL}}" class="img-fluid"></div>
                                                {{else if .LocationID.Valid}}
                                                    <div id="mapdiv{{.ID}}" style="height:250px"></div>
                                                    <script src="https://o.pup.haus/public/openlayers-2.13.1/OpenLayers.js"></script>
                                                    <script>
                                                        map = new OpenLayers.Map("mapdiv{{.ID}}");
                                                        map.addLayer(new OpenLayers.Layer.OSM("WikiMedia", ["https://maps.wikimedia.org/osm-intl/${z}/${x}/${y}.png"]));

                                                        var lonLat = new OpenLayers.LonLat({{.GetLocationLon}} ,{{.GetLocationLat}} )
                                                            .transform(
                                                                new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                                                                map.getProjectionObject() // to Spherical Mercator Projection
                                                            );

                                                        var zoom=16;

                                                        var markers = new OpenLayers.Layer.Markers( "Markers" );
                                                        map.addLayer(markers);

                                                        markers.addMarker(new OpenLayers.Marker(lonLat));

                                                        map.setCenter (lonLat, zoom);
                                                    </script>
                                                {{else if .HasPhotos}}
                                                    <div><img src="{{.GetPhotoURL 450}}" class="img-fluid"></div>
                                                {{end}}
                                                <div class="text-right"><small>{{if .EditDate.Valid}}<i>edited</i> {{end}}{{.GetDateHuman}}</small></div>
                                            </li>
                                        {{- end}}
                                    {{- end}}
                                {{- end}}



                                        </ul>
                                    </div>
                                </li>
                            {{- end}}
                        {{- end}}
                    {{- end}}



                    <!--<li class="media mb-4">
                        <img src="https://via.placeholder.com/64" class="mr-2 rounded-circle">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Tyr</h5>
                            <ul class="list-unstyled">
                                <li class="bg-primary m-1 p-1 rounded text-white">
                                    OMG Bot HIIII
                                    <div class="text-right"><small>12/25/1986 10:00</small></div>
                                </li>
                                <li class="bg-primary m-1 p-1 rounded text-white">
                                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                    <div class="text-right"><small>12/25/1986 10:00</small></div>
                                </li>
                                <li class="bg-primary m-1 p-1 rounded text-white">
                                    OMG Bot HIIII
                                    <div class="text-right"><small>12/25/1986 10:00</small></div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="media mb-4">
                        <div class="media-body">
                            <h5 class="text-right mt-0 mb-1">VestaBot</h5>
                            <ul class="list-unstyled">
                                <li class="bg-secondary m-1 p-1 rounded text-white">
                                    OMG Bot HIIII
                                    <div class="text-right"><small>12/25/1986 10:00</small></div>
                                </li>
                                <li class="bg-secondary m-1 p-1 rounded text-white">
                                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                    <div class="text-right"><small>12/25/1986 10:00</small></div>
                                </li>
                                <li class="bg-secondary m-1 p-1 rounded text-white">
                                    OMG Bot HIIII
                                    <div class="text-right"><small>12/25/1986 10:00</small></div>
                                </li>
                            </ul>
                        </div>
                        <img src="https://via.placeholder.com/64" class="ml-2 rounded-circle">
                    </li>
                    <li class="media mb-4">
                        <img src="https://via.placeholder.com/64" class="mr-2 rounded-circle">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Tyr</h5>
                            <ul class="list-unstyled">
                                <li class="bg-primary m-1 p-1 rounded text-white">
                                    OMG Bot HIIII
                                    <div class="text-right"><small>12/25/1986 10:00</small></div>
                                </li>
                                <li class="bg-primary m-1 p-1 rounded text-white">
                                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                    <div class="text-right"><small>12/25/1986 10:00</small></div>
                                </li>
                                <li class="bg-primary m-1 p-1 rounded text-white">
                                    OMG Bot HIIII
                                    <div class="text-right"><small>12/25/1986 10:00</small></div>
                                </li>
                            </ul>
                        </div>
                    </li>-->
                </ul>
            </div>
        </div>
    </div>
{{- end}}
</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
{{end}}
