{{define "layout"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{template "title" . }}</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js" integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/default.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand"><img src="/static/img/pup.svg" height="30" /><img src="/static/img/haus.svg" height="30" /></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
{{- range .NavBar.Nodes -}}
    {{- if .Children -}}
        <li class="nav-item dropdown{{if .Active}} active{{end}}{{if .Disabled}} disabled{{end}}">
            <a class="nav-link dropdown-toggle" href="{{.URL}}" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{- .Text -}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        {{- range .Children -}}
                <a class="dropdown-item{{if .Active}} active{{end}}{{if .Disabled}} disabled{{end}}" href="{{.URL}}">{{if .FAIcon}}<i class="fas fa-{{.FAIcon}}"></i>{{end}}{{.Text}}</a>
        {{- end -}}
            </div>
        </li>
    {{- else -}}
        <li class="nav-item{{if .Active}} active{{end}}{{if .Disabled}} disabled{{end}}">
            <a class="nav-link" href="{{.URL}}">{{.Text}}{{if .Active}} <span class="sr-only">(current)</span>{{end}}</a>
        </li>
    {{- end -}}
{{- end -}}
        </ul>
        <div class="navbar-text" style="text-align: right;">
            {{- .Username -}}
        </div>
    </div>
</nav>
{{- template "body" .}}
</body>
</html>
{{ end }}

{{define "pagination"}}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
    {{- if .PrevURI}}
        <li class="page-item">
            <a class="page-link" href="{{.PrevURI}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
    {{- else}}
        <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
    {{- end}}
    {{- range .Pages}}
        <li class="page-item{{if .Active}} active{{end}}"><a class="page-link" href="{{.PageURI}}">{{.PageNum}}{{if .Active}} <span class="sr-only">(current)</span>{{end}}</a></li>
    {{- end}}
    {{- if .NextURI}}
        <li class="page-item">
            <a class="page-link" href="{{.NextURI}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    {{else}}
        <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    {{- end}}
    </ul>
</nav>
{{end}}