{{define "layout" -}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{template "title" . }}</title>
    <link rel="icon" type="image/png" href="https://o.pup.haus/public/img/wolf.png">
    <script src="https://o.pup.haus/public/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://o.pup.haus/public/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <script src="https://o.pup.haus/public/bootstrap-4.3.1-dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://o.pup.haus/public/fontawesome-free-5.7.2-web/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/default.css">
</head>
<body>
<!-- Logout Modal Start -->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logoutModalLabel"><i class="fas fa-sign-out-alt"></i> Logout</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to logout?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a type="button" href="/logout" class="btn btn-danger">Logout</a>
            </div>
        </div>
    </div>
</div>
<!-- Logout Modal Stop -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand"><img src="https://o.pup.haus/public/img/pup.svg" height="30" /><img src="https://o.pup.haus/public/img/haus.svg" height="30" /></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
{{- range .NavBar.Nodes -}}
    {{- if .Children -}}
        <li class="nav-item dropdown{{if .Active}} active{{end}}{{if .Disabled}} disabled{{end}}">
            <a class="nav-link dropdown-toggle" href="{{.URL}}" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{- .Text -}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        {{- range .Children -}}
                <a class="dropdown-item{{if .Active}} active{{end}}{{if .Disabled}} disabled{{end}}" href="{{.URL}}">{{if .FAIcon}}<i class="fas fa-{{.FAIcon}}"></i> {{end}}{{.Text}}</a>
        {{- end -}}
            </div>
        </li>
    {{- else -}}
        <li class="nav-item{{if .Active}} active{{end}}{{if .Disabled}} disabled{{end}}">
            <a class="nav-link" href="{{.URL}}">{{.Text}}{{if .Active}} <span class="sr-only">(current)</span>{{end}}</a>
        </li>
    {{- end -}}
{{- end -}}
        </ul>

        <ul class="navbar-nav" id="navbarUsername">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i> {{.Username -}}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
{{- template "body" .}}
</body>
</html>
{{ end }}

{{define "pagination"}}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
    {{- if .PrevURI}}
        <li class="page-item">
            <a class="page-link" href="{{.PrevURI}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
    {{- else}}
        <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
    {{- end}}
    {{- range .Pages}}
        <li class="page-item{{if .Active}} active{{end}}"><a class="page-link" href="{{.PageURI}}">{{.PageNum}}{{if .Active}} <span class="sr-only">(current)</span>{{end}}</a></li>
    {{- end}}
    {{- if .NextURI}}
        <li class="page-item">
            <a class="page-link" href="{{.NextURI}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    {{- else}}
        <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    {{- end}}
    </ul>
</nav>
{{end}}

{{define "breadcrumbs"}}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    {{- range .}}
    {{- if .Active}}
        <li class="breadcrumb-item active" aria-current="page">{{.Text}}</li>
    {{- else}}
        <li class="breadcrumb-item" aria-current="page"><a href="{{.URL}}">{{.Text}}</a></li>
    {{- end}}
    {{- end}}
    </ol>
</nav>
{{end}}

{{define "list-group"}}
<div class="list-group">
{{- range .}}
    <a href="{{.URL}}" class="list-group-item list-group-item-action{{if .Active}} active{{end}}">{{.Text}}{{if .FAIconR}} <i class="fas fa-{{.FAIconR}} float-right"></i>{{end}}{{if .Count}}<span class="badge badge-pill badge-primary float-right">{{.Count}}</span>{{end}}</a>
{{- end}}
</div>
{{end}}