{{define "title"}}PUPHAUS{{end}}

{{define "body"}}
<div class="container">
{{- if .AlertWarn}}
    <div class="row">
        <div class="col">
            <div class="alert alert-warning" role="alert">
            {{.AlertWarn}}
            </div>
        </div>
    </div>
{{- end}}
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/web/users/">List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/web/users/new">New</a>
                </li>
            </ul>

        </div>
    </div>
</div>
{{end}}
