{{define "title"}}PUPHAUS{{end}}

{{define "body"}}
<div class="container">
    <div class="row">
        <div class="col"><h1><i class="fas fa-user"></i> User Browser</h1></div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/web/admin/users/">List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/web/admin/users/new">New</a>
                </li>
                <li class="nav-item mr-auto">
                    <a class="nav-link active" href="#">{{.User.Username}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-edit"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="#"><i class="fas fa-trash-alt"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-10">
            <h2>{{.User.Username}}</h2>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Login Count:</h4>
            {{.User.LoginCount}}
        </div>
        <div class="col">
            <h4>Last Login:</h4>
            {{.User.GetLastLogin}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Created At:</h4>
            {{.User.GetCreatedAt}}
        </div>
        <div class="col">
            <h4>Updated At:</h4>
            {{.User.GetUpdatedAt}}
        </div>
    </div>
</div>
{{end}}
