{{define "title"}}PUPHAUS{{end}}

{{define "body"}}
<div class="container">
{{- if .AlertWarn}}
    <div class="row">
        <div class="col">
            <div class="alert alert-warning" role="alert">
            {{.AlertWarn}}
            </div>
        </div>
    </div>
{{- end}}
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="/web/users/">List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/web/users/new">New</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table" id="usersListTable">
                <thead class="thead-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">ID</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Login Count</th>
                    <th scope="col">Last Login</th>
                </tr>
                </thead>
                <tbody>
{{- with .Users}}
{{- range .}}
                <tr>
                    <td><img src="{{.GetGravatar 32}}"></td>
                    <th scope="row">{{.Token}}</th>
                    <td><a href="/web/users/{{.Token}}">{{.Username}}</a></td>
                    <td>{{.Email}}</td>
                    <td>{{.LoginCount}}</td>
                    <td>{{.GetLastLogin}}</td>
                </tr>
{{- end}}
{{- end}}
                </tbody>
            </table>
{{- if .Pages}}
{{- template "pagination" .Pages}}
{{- end}}
        </div>
    </div>
</div>
{{end}}
