{{define "title"}}PUPHAUS{{end}}

{{define "body"}}
<div class="container">
    <div class="row">
        <div class="col"><h1><i class="fas fa-user"></i> User Browser</h1></div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="/web/admin/users/">List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/web/admin/users/new">New</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
            <table class="table" id="usersListTable">
                <thead class="thead-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">ID</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col" class="text-nowrap">Login Count</th>
                    <th scope="col" class="text-nowrap">Last Login</th>
                </tr>
                </thead>
                <tbody>
{{- with .Users}}
{{- range .}}
                <tr>
                    <td><img src="{{.GetGravatar 32}}"></td>
                    <td>{{.Token}}</td>
                    <td><a href="/web/admin/users/{{.Token}}">{{.Username}}</a></td>
                    <td>{{.Email}}</td>
                    <td>{{.LoginCount}}</td>
                    <td class="text-nowrap">{{.GetLastLogin}}</td>
                </tr>
{{- end}}
{{- end}}
                </tbody>
            </table>
            </div>
{{- if .Pages}}
{{- template "pagination" .Pages}}
{{- end}}
        </div>
    </div>
</div>
{{end}}
